
@model IEnumerable<Hotel_Reservation_Menager.Models.Clients>

@{
    ViewData["Title"] = "Clients";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Users List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Clients" asp-action="CreateClient" class="btn btn-primary">
                Add New User
            </a>
        </div>
    </div>

    <br /><br />

    <div class="row">
        <div class="col-md-6">
            <form asp-controller="Clients" asp-action="Index" method="get">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Search:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="searchString" value="@ViewData["CurrentFilter"]" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Sort by:</label>
                    <div class="col-sm-8">
                        <table>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastName)
                                </th>
                                <th>
                                    @Html.ActionLink("▲", "Index", new { sortOrder = ViewBag.NameSortParam == "name_desc" ? "name" : "name_desc", currentFilter = ViewBag.CurrentFilter })
                                    @Html.ActionLink("▼", "Index", new { sortOrder = ViewBag.NameSortParam, currentFilter = ViewBag.CurrentFilter })
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PhoneNumber)
                                </th>
                                <th>
                                    @Html.ActionLink("▲", "Index", new { sortOrder = ViewBag.PhoneSortParam == "phone_desc" ? "phone" : "phone_desc", currentFilter = ViewBag.CurrentFilter })
                                    @Html.ActionLink("▼", "Index", new { sortOrder = ViewBag.PhoneSortParam, currentFilter = ViewBag.CurrentFilter })
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.ActionLink("▲", "Index", new { sortOrder = ViewBag.EmailSortParam == "email_desc" ? "email" : "email_desc", currentFilter = ViewBag.CurrentFilter })
                                    @Html.ActionLink("▼", "Index", new { sortOrder = ViewBag.EmailSortParam, currentFilter = ViewBag.CurrentFilter })
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsAdult)
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary">Filter</button>
                        <a asp-controller="Clients" asp-action="Index" class="btn btn-secondary">Clear</a>
                    </div>
                </div>
            </form>
        </div>
    </div>


    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Email Address
                    </th>
                    <th>
                        Adult
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="50%">@obj.Id</td>
                        <td width

="50%">@obj.FirstName</td>
<td width="50%">@obj.LastName</td>
<td width="50%">@obj.PhoneNumber</td>
<td width="50%">@obj.Email</td>
<td width="50%">@obj.IsAdult</td>
</tr>
}
</tbody>
</table>
}
else
{
<p>No clients found.</p>
}

</div>