@model Hotel_Reservation_Menager.Models.Reservations

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<div>
    <h4>Reservation Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId) 
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Accommodation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Accommodation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Exemption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exemption)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsBreakfast)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsBreakfast)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsAllInclusive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsAllInclusive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</div>
