@model Hotel_Reservation_Menager.Models.Reservations

<form method="post">
    <input asp-for="Id" hidden />
    <input asp-for="UserId" hidden />
    <input asp-for="Price" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Edit Reservation</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="RoomId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="RoomId" class="form-control" value="@Model.RoomId" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Accommodation"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Accommodation" class="form-control" value="@Model.Accommodation" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Exemption"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Exemption" class="form-control" value="@Model.Exemption" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="IsBreakfast"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="IsBreakfast" class="form-control" value="@Model.IsBreakfast" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="IsAllInclusive"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="IsAllInclusive" class="form-control" value="@Model.IsAllInclusive" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Save Changes" />
                        </div>
                        <div class="col">
                            <a asp-action="ChooseClients" asp-route-Id="@Model.Id" class="btn btn-success w-100">Edit Clients</a>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-100">Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>

</form>
