@model Hotel_Reservation_Menager.Models.BigView

<h1>Reservations</h1>

<p>
    <a asp-action="CreateReservation">Create New</a>
    
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Room Number
            </th>
            <th>
                User
            </th>
            <th>
                Clients
            </th>
            <th>
                Accommodation
            </th>
            <th>
                Exemption
            </th>
            <th>
                Breakfast
            </th>
            <th>
                AllInclusive
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.Reservations)
        {
            <tr>
                <td width="50%">@obj.RoomId</td>
                <td width="50%">@obj.UserId</td>
                <td>
                    @foreach (var client in Model.Clients)
                    {
                        @foreach (var resClients in Model.ReservationClient)
                        {
                            if (obj.Id == resClients.ReservationId && client.Id == resClients.ClientId)
                            { 
                            <p>@client.FirstName @client.LastName</p>
                            }
                        }
                    }
                </td>
                <td width="50%">@obj.Accommodation</td>
                <td width="50%">@obj.Exemption</td>
                <td width="50%">@obj.IsBreakfast</td>
                <td width="50%">@obj.IsAllInclusive</td>
                <td width="50%">@obj.Price лв.</td>
                <td class="text-center">
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Users" asp-route-Id="@obj.UserId" asp-action="EditUser">
                            Edit
                        </a> |

                        <a asp-controller="Users" asp-route-Id="@obj.UserId" asp-action="DeleteUser">
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="col-6 text-right">
    <a asp-controller="Home" asp-action="Back" class="btn btn-danger">
        Back
    </a>
</div>
