@model Hotel_Reservation_Menager.Models.Rooms

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerAdult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerAdult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerChild)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerChild)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
    </dl>
    <div>
        @if (ViewBag.UserId == 1)
{
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> ;
}
        <a asp-action="Index">Back to List</a>
    </div>
</div>
