@model IEnumerable<Hotel_Reservation_Menager.Models.Rooms>

@{
    ViewData["Title"] = "Rooms";
}

<h1>Rooms</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.CapacitySortParam">@Html.DisplayNameFor(model => model.Capacity)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.TypeSortParam">@Html.DisplayNameFor(model => model.Type)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.IsAvailableSortParam">@Html.DisplayNameFor(model => model.IsAvailable)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.PricePerAdultSortParam">@Html.DisplayNameFor(model => model.PricePerAdult)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.PricePerChildSortParam">@Html.DisplayNameFor(model => model.PricePerChild)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NumberSortParam">@Html.DisplayNameFor(model => model.Number)</a>
            </th>
            <th></th>
        </tr>
    </thead>
   
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAvailable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerAdult)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerChild)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

