@model List<Hotel_Reservation_Menager.Models.Rooms>


<h2>Room Table</h2>
@if (Logged.LoggedId == 1)
{
    <a asp-controller="Rooms" class="btn btn-primary" asp-action="CreateRoom">
        Create New Room
    </a>
}
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Room Number
            </th>
            <th>
                @Html.ActionLink("Capacity", "Index", new { sortOrder = "Capacity", clicked = ViewBag.Clicked, page = ViewBag.Page, pageSize = ViewBag.PageSize })
            </th>
            <th>
                @Html.ActionLink("Type", "Index", new { sortOrder = "Type", clicked = ViewBag.Clicked, page = ViewBag.Page, pageSize = ViewBag.PageSize })
            </th>
            <th>
                Price per adult
            </th>
            <th>
                Price per child
            </th>
            <th>
                @Html.ActionLink("Availability", "Index", new { sortOrder = "IsAvailable", clicked = ViewBag.Clicked, page = ViewBag.Page, pageSize = ViewBag.PageSize })
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">@obj.Id</td>
                <td width="50%">@obj.Number</td>
                <td width="50%">@obj.Capacity</td>
                <td width="50%">@obj.Type</td>
                <td width="50%">@obj.PricePerAdult</td>
                <td width="50%">@obj.PricePerChild</td>
                <td>
                    @if (obj.IsAvailable)
                    {
                        <span class="badge badge-success">Available</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">Not available</span>
                    }
                </td>
                @if (Logged.LoggedId == 1 )
                {
                    <td class="text-center">
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Rooms" class="btn btn-info w-100" asp-route-Id="@obj.Id" asp-action="EditRoom">
                                Edit
                            </a> 

                            <a asp-controller="Rooms" class="btn btn-danger" asp-route-Id="@obj.Id" asp-action="DeleteRoom">
                                Delete
                            </a>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    <ul>
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <div style="display:inline-block">
                <p @(i == ViewBag.Page ? "class=active" : "")>
                    <a href="/Rooms?sortOrder=@ViewBag.SortOrder&clicked=@ViewBag.CurrentClicked&page=@i&pageSize=@ViewBag.PageSize">@i</a>
                </p>
            </div>
        }
    </ul>
</div>

<form asp-controller="Rooms" asp-action="Index" method="get">
    <div class="form-group">
        <label for="pageSize">Page Size:</label>
        @if (ViewBag.PageSize == 10)
        {
            <select id="pageSize" name="pageSize" class="form-control" onchange="this.form.submit()">
                <option selected="selected" value="10" href=@(ViewBag.PageSize == 10 ? "selected" : "" )>10</option>
                <option value="25" href=@(ViewBag.PageSize == 25 ? "selected" : "" )>25</option>
                <option value="50" href=@(ViewBag.PageSize == 50 ? "selected" : "" )>50</option>
            </select>
        }
        else if (ViewBag.PageSize == 25)
        {
            <select id="pageSize" name="pageSize" class="form-control" onchange="this.form.submit()">
                <option value="10" href=@(ViewBag.PageSize == 10 ? "selected" : "" )>10</option>
                <option selected="selected" value="25" href=@(ViewBag.PageSize == 25 ? "selected" : "" )>25</option>
                <option value="50" href=@(ViewBag.PageSize == 50 ? "selected" : "" )>50</option>
            </select>
        }
        else
        {
            <select id="pageSize" name="pageSize" class="form-control" onchange="this.form.submit()">
                <option value="10" href=@(ViewBag.PageSize == 10 ? "selected" : "" )>10</option>
                <option value="25" href=@(ViewBag.PageSize == 25 ? "selected" : "" )>25</option>
                <option selected="selected" value="50" href=@(ViewBag.PageSize == 50 ? "selected" : "" )>50</option>
            </select>
        }
    </div>
</form>
<div class="col-6 text-right">
    <a asp-controller="Home" asp-action="Back" class="btn btn-danger">
        Back
    </a>
</div>